body,html{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: black; */
   
}
.hoursNum , .minsNum , .secondsNum{
    display: flex;
    flex-direction: column;
}

.myDateTime{
    background-color: rgba(0, 0, 0, 0.724);
    border: 1px solid rgba(23, 22, 22, 0.612);
    border-radius: 4px;
    margin-left: 26rem;
    margin-right: 26rem;
   
}

.myInput{
    background-color: rgba(0, 0, 0, 0.724);
    border: 1px solid rgba(0, 0, 0, 0.724);
    border-radius: 4px;
    color: white;
}

.btnStart{
    background-color: rgba(6, 110, 6, 0.523);
    color: rgb(7, 252, 7);
    width: 100px;
    height: 100px;
    border: 2px double rgba(6, 110, 6, 0.523);
    border-radius: 50px;
}

.mySpanColor{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.331);
}

.setTitleInput{
    width: 48rem;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.201);
    border-radius: 8px;
    
}

.addBtn{
    border: 2px solid rgba(15, 143, 202, 0.806);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    color: rgba(15, 143, 202, 0.806);
}
.removeBtn{
    border: 2px solid rgba(215, 12, 12, 0.952);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    color: rgba(215, 12, 12, 0.952);
}

.newTitleBox{
    width: 320px ;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.368);
    border-radius: 10px;
    animation: animat 1s;
}

@keyframes animat{
    0%{transform: scale(0,0);}
    100%{transform: scale(1,1);}
}

.h4{
    display: flex;
    justify-content: center;
}